[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "RAC"]
	path = RAC
	url = https://github.com/damianobaldan/rac
[submodule "riverconn"]
	path = riverconn
	url = https://github.com/damianobaldan/riverconn
